@charset "utf-8";

.head{
	position: fixed;
	left: 20%;
	z-index: 100;
	width: 1000px;
	height: 150px;
	background: #385c96;
	opacity: 0.9
}
.body{
	position: absolute;
	left:20%;
	top:150px;
	width: 1000px;
	height: 100%
}

.side{
	float: left;
	position: fixed;
	width: 200px;
	height:1000px;
	background: #385c96;
	opacity: 0.9;
	color: white;
}
.main{
	position: absolute;
	left: 220px;
	color: black;
	font-size: 18px;
}
img.portrait{
	width:100px;
	margin-top: 40px;
	margin-left: 40px;
}
ul.introduction{
	font-size: 15px;
	color: white;
	text-align: left;
	margin: 20px 20px 20px -20px;
	line-height: 2em;
}
.img{
	float: left;
	margin-left: 50px;
	margin-top: 30px;
}
img#jlu{
	width:100px;
	height: 100px;
}
.title{
	float: left;
	margin: 50px 0px 0px 20px
}
span.name{
	font-size: 40px;
	text-align: left;
	color: white;
}
span.position{
	font-size: 20px;
	text-align: center;
	color: white;
	margin-left: 30px;

}
.contact{
	float: right;
	margin-top: 72px;
	margin-right: 30px;
	}
.contact .phone{
	float: left;
	background-image: url("img/icon-title1.png");
	background-position: 0px 0px;
	background-repeat: repeat-y;
	background-size: 22px auto;
	background-clip: border-box;
	color: white;
	margin-right: 20px;
	}
.contact .phone:after{
	display: block;
	font-size: 12px;
	content: "18801347824";
	line-height: 22px;
	margin-left: 26px;
	}
.contact .email{
	float: left;
	background-image: url("img/icon-title1.png");
	background-position: 0px -163px;
	background-repeat: repeat-y;
	background-size: 22px auto;
	background-clip: content-box;
	margin-right: 20px;
	}
.contact .link{
	display: block;
	font-size: 12px;
	color: white;
	line-height: 22px;
	margin-left: 26px;
	}
.contact .github{
	float: left;
	background-image: url("img/label.ico");
	background-position: 0px 0px;
	background-repeat: repeat-y;
	background-size: 22px auto;
	background-clip: border-box;
	margin-right: 20px;
	}
.contact .github:after{
	display: block;
	font-size: 12px;
	content: "";
	line-height: 22px;
	margin-left: 26px;
	}
.contact .blog{
	background: -ms-linear-gradient(top, #099,  #0BB);        /* IE 10 */
	background:-moz-linear-gradient(top,#099,#0BB);/*火狐*/ 
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#099), to(#0BB));/*谷歌*/ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#099), to(#0BB));      
	background: -webkit-linear-gradient(top, #099, #0BB);   /*Safari5.1 Chrome 10+*/
	background: -o-linear-gradient(top, #099, #0BB);  /*Opera 11.10+*/
	float: left;
	border-radius: 3px;
	width: 50px;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	color: white;
	}
img.rating{
		width:100px;
		vertical-align: baseline;
		line-height: 2em;
		display: none
	}
li.name{
	height: 50px;
	width: 150px;
	background-image: url(img/3stars.png);
}
div.introduction{
	color: white;
	line-height: 2em;
	margin-left: 20px;
	margin-top: 40px;
}
div.rating{
	margin-top: 0px;
	background-image: url("img/3stars.png");
	background-position: 75px 1px;
	background-repeat: no-repeat;
	background-size: 100px auto;
	background-clip: content-box;
}
div.js{
	background-image: url("img/3stars.png");
}
div.other{
	margin-top: 40px;
	margin-left: 20px;
}
div.edutitle{
	background-color: rgb(230,230,230);
	background-image: url("img/edu.png");
	background-repeat: no-repeat;
	background-clip: content-box;
	background-size: auto 40px;
	background-position: 10px;
	font-size: 30px;
	font-weight: bold;
	width:760px;
	margin:20px 20px 0px 20px;
	border-radius: 20px 20px 0px 0px/20px 20px 0px 0px;

}
div.edutitle:after{
	content:"教育背景";
	display: block;
	margin-left: 80px;

}
div.educontent{
	background-color: rgb(230,230,230);
	width:760px;
	margin:0px 20px 20px 20px;
	padding-top: 20px;
	border-radius: 0px 0px 20px 20px/0px 0px 20px 20px;
	line-height: 2em;
}
div.honortitle{
	background-color: rgb(230,230,230);
	background-image: url("img/rongyu.png");
	background-repeat: no-repeat;
	background-clip: content-box;
	background-size: auto 35px;
	background-position: 8px;
	font-size: 30px;
	font-weight: bold;
	width:760px;
	margin:20px 20px 0px 20px;
	border-radius: 20px 20px 0px 0px/20px 20px 0px 0px;

}
div.honortitle:after{
	content:"荣誉奖励";
	display: block;
	margin-left: 80px;

}
div.honorcontent{
	background-color: rgb(230,230,230);
	width:760px;
	margin:0px 20px 20px 20px;
	padding-top: 20px;
	border-radius: 0px 0px 20px 20px/0px 0px 20px 20px;
	line-height: 2em;
}
div.volunteertitle{
	background-color: rgb(230,230,230);
	background-image: url("img/volunteer.png");
	background-repeat: no-repeat;
	background-clip: content-box;
	background-size: auto 35px;
	background-position: 8px;
	font-size: 30px;
	font-weight: bold;
	width:760px;
	margin:20px 20px 0px 20px;
	border-radius: 20px 20px 0px 0px/20px 20px 0px 0px;

}
div.volunteertitle:after{
	content:"志愿服务";
	display: block;
	margin-left: 80px;

}
div.volunteercontent{
	background-color: rgb(230,230,230);
	width:760px;
	margin:0px 20px 20px 20px;
	padding-top: 20px;
	border-radius: 0px 0px 20px 20px/0px 0px 20px 20px;
	line-height: 2em;
}
div.practicetitle{
	background-color: rgb(230,230,230);
	background-image: url("img/practice.png");
	background-repeat: no-repeat;
	background-clip: content-box;
	background-size: auto 35px;
	background-position: 8px;
	font-size: 30px;
	font-weight: bold;
	width:760px;
	margin:20px 20px 0px 20px;
	border-radius: 20px 20px 0px 0px/20px 20px 0px 0px;

}
div.practicetitle:after{
	content:"项目实践";
	display: block;
	margin-left: 80px;

}
div.practicecontent{
	background-color: rgb(230,230,230);
	width:760px;
	height: 250px;
	margin:0px 20px 20px 20px;
	padding-top: 20px;
	border-radius: 0px 0px 20px 20px/0px 0px 20px 20px;
	line-height: 2em;
}
div.practicecontent .project{
	margin-left: 45px;
}
.website{
	color: black;
}
.container{
	display: flex;
	justify-content: flex-start;
}
.container .first{
	width: 180px;
}
.container .second{
	width: 200px;
}
.container .third{
	width: 220px;
}
.container .forth{
	width: 100px;
}
.container .fifth{
	width: 500px;
}
